/*------Variables------*/
/*--------RESET-------*/
* {
  margin: 0%;
  padding: 0px;
}

/* -------------HEADER-----------*/
header {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
header h1 {
  color: blue;
  font-size: 100px;
  font-family: "Tilt Prism", cursive;
  font-weight: 900;
  text-align: center;
  display: flex;
  justify-content: center;
}

#checkbox_menu {
  display: none;
}

#menu {
  display: none;
}

#menu-abrir {
  display: none;
}

#menu-cerrar {
  display: none;
}

nav div label {
  color: blue;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
nav div span {
  background-color: #14bcff;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  padding: 20px;
}
nav ul li:hover {
  background-color: white;
}
nav ul li a {
  text-decoration: none;
  color: rgb(73, 28, 254);
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* ------------------------------------MAIN---------------------*/
main .hero {
  width: 100%;
  height: 100%;
  background-image: url(../img/Pelota\ corona\ Fondo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
main .hero h2 {
  color: blue;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}
main .hero p {
  color: aqua;
  text-align: center;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main .ofertas {
  background-color: #1f9f61;
  height: 100%;
  margin-top: 0%;
}
main .ofertas h2 {
  color: #000000;
  font-size: 50px;
  font-family: fantasy;
  font-weight: 200;
  text-align: center;
}
main .ofertas h3 {
  color: #14bcff;
  font-size: 50px;
  font-family: fantasy;
  font-weight: 200;
  text-align: center;
}
main .ofertas .card-ofertas {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
main .ofertas .card-ofertas div {
  width: 250px;
  height: 350px;
  border: 6px solid aqua;
  text-align: center;
  margin-bottom: 30px;
  margin: 50px;
  background-color: white;
  margin: 20px;
  box-shadow: 10px 10px 38px -4px;
  -webkit-box-shadow: 10px 10px 38px -4px;
  -moz-box-shadow: 10px 10px 38px -4px;
}
main .ofertas .card-ofertas div .ZapaUnder {
  width: 250px;
  height: 200px;
  margin-bottom: 5px;
}
main .ofertas .card-ofertas div .boton {
  text-decoration: none;
  color: #000000;
  background-color: rgb(140, 223, 246);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20;
  padding: 4px;
  margin: 80px;
  border-radius: 8px;
}
main .ofertas .card-ofertas h2 {
  text-align: center;
  margin-bottom: 8px;
}
main .ofertas .card-ofertas img {
  width: 250px;
  margin-bottom: 5px;
}
main .marcas {
  background-color: #1f9f61;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .marcas h2 {
  color: black;
  font-size: 50px;
  font-family: fantasy;
  font-weight: 200;
  text-align: center;
  margin-top: 0px;
}
main .marcas p {
  color: black;
  font-size: 30px;
  font-family: Cambria;
}
main .marcas-imagenes {
  background-color: #1f9f61;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .marcas-imagenes img {
  width: 250px;
  height: 250px;
  margin: 50px;
}

.wsp {
  position: fixed;
  bottom: 100px;
  right: 50px;
}
.wsp img {
  height: 50px;
  width: 50px;
}

/*-------------------------CALZADOS------------------------------*/
.TituloProductos h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 40px;
  padding: 30px;
}
.TituloProductos div {
  display: flex;
  justify-content: space-around;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-size: 30px;
  padding: 10px;
}

.ProductosCalzados {
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  border-radius: 8px;
}
.ProductosCalzados .item-producto {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
.ProductosCalzados .item-producto .ZapaUnder {
  width: 250px;
  height: 200px;
  margin-bottom: 5px;
}
.ProductosCalzados h2 {
  margin-top: 10px;
}
.ProductosCalzados p {
  margin-top: 5px;
  color: #999;
}

/*-------------------------EQUIPOS NBA HECHO CON BOOSTRAP------------------------------*/
/*-------------------------Indumentaria------------------------------*/
.ProductosIndumentaria {
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  border-radius: 8px;
}
.ProductosIndumentaria .item-producto {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
.ProductosIndumentaria .item-producto img {
  width: 250px;
  height: 250px;
}

/*-------------------------FOOTER------------------------------*/
footer {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}
footer div h2 {
  color: #4CC9F0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
footer div a img {
  width: 80px;
  height: 80px;
}

/*queries*/
/* --------------------------------Media query header (max 900px)-----------------------------*/
@media only screen and (max-width: 900px) {
  #checkbox_menu {
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
}
@media only screen and (max-width: 900px) {
  #menu-abrir {
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
}
@media only screen and (max-width: 900px) {
  .navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
  }
  .navegacion .checkbox--menu:checked + .navegacion {
    transform: translate(0);
  }
}
/* --------------------------------Media query main (max 900px)-----------------------------*/
@media only screen and (max-width: 900px) {
  .marcas-imagenes {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .ProductosCalzados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* -----------------------Media query calzados (max 900px)-----------------------*/
@media only screen and (max-width: 900px) {
  .calzados-titulo-marcas p {
    display: none;
  }
}
/* -----------------------Media query header (max 376px)-----------------------*/
@media (max-width: 376px) {
  #menu-abrir {
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
  }
}
/* -----------------------Media query main (max 376px)-----------------------*/
@media (max-width: 376px) {
  .navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
  }
}
@media (max-width: 376px) {
  .hero p {
    margin-top: 20%;
  }
}
@media (max-width: 376px) {
  .card-ofertas {
    margin: 20%;
  }
}
@media (max-width: 376px) {
  .marcas-imagenes {
    display: flex;
    flex-direction: column;
  }
}
/* -----------------------Media query de calzados (max 376px)-----------------------*/
@media only screen and (max-width: 376px) {
  .calzados-titulo-marcas p {
    display: none;
  }
}
/* -----------------------Media query del footer (max 376px)-----------------------*/
@media (max-width: 376px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 376px) {
  .ProductosIndumentaria {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 376px) {
  .ProductosCalzados {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
