@import "./partials/variable";
@import "./partials/condicionales";



/*--------RESET-------*/
*{
    margin: 0%;
    padding: 0px;
}

/* -------------HEADER-----------*/

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;

    h1{
        color: blue;
        font-size: 100px;
        font-family: 'Tilt Prism', cursive;
        font-weight: 900;
        text-align: center;
        display: flex;
        justify-content: center;
    }

}


#checkbox_menu{
    display: none;
}
#menu{
    display: none;
}

#menu-abrir{
    display: none;
}
 
#menu-cerrar{
    display: none;
}




    nav{
        
            div{
                label{
                    color: blue;
                    font-size: 50px;
                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    }
                span{
                    background-color: #14bcff;
                }
                }
        ul{
            list-style: none;
            display: flex;
            justify-content: space-around;  
            li{
                padding: 20px;
                &:hover{
                    background-color: white;
                }
                a{
                    text-decoration: none;
                    color:rgb(73, 28, 254);
                    font-size: 20px;
                    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }
            }
        }
    }



/* ------------------------------------MAIN---------------------*/

main {


    .hero{
        width: $ancho;
        height: 100%;
        background-image: url(../img/Pelota\ corona\ Fondo.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        h2{
            color:blue;
            font-size: 60px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-align: center;  
        }
        p{
            color: aqua;
            text-align: center;
            font-size: 30px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;      
            padding: 30px;
        }
    }

    .ofertas{
        background-color:#1f9f61;
        height: 100%;
        margin-top: 0%;

        h2{ 
            color: #000000;
            font-size: 50px;
            font-family: fantasy;
            font-weight: 200;
            text-align: center;
        }
        h3{ 
            color: #14bcff;
            font-size: 50px;
            font-family: fantasy;
            font-weight: 200;
            text-align: center;
        }
        .card-ofertas{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            div{
                width: 250px;
                height: 350px;
                border: 6px solid aqua  ;
                text-align: center;
                margin-bottom: 30px ;
                margin: 50px;
                background-color: white;
                margin: 20px;
                box-shadow: 10px 10px 38px -4px;
                -webkit-box-shadow: 10px 10px 38px -4px;
                -moz-box-shadow: 10px 10px 38px -4px;

                .ZapaUnder{
                    width: 250px;
                    height: 200px;
                    margin-bottom: 5px;
                }
                .boton{
                    text-decoration: none;
                    color: #000000;
                    background-color: rgb(140, 223, 246);
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-size: 20;
                    padding: 4px;
                    margin: 80px;
                    border-radius: 8px;
                }
            }

            h2{
                text-align: center;
                margin-bottom: 8px;
            }
            img{
                width: 250px;
                margin-bottom: 5px;
            }
            
        }
    }

    .marcas{
        background-color: #1f9f61;
        display:flex;
        flex-direction: column;
        justify-content: center;

        h2{
            color:black;
            font-size: 50px;
            font-family: fantasy;
            font-weight: 200;
            text-align: center;
            margin-top: 0px;
        }
        p{
            color: black;
            font-size: 30px;
            font-family: Cambria;
        }
        
    }
    
    .marcas-imagenes{
        background-color: #1f9f61;
        display:flex;
        align-items:center;
        justify-content:space-between;

        img{ 
            width: 200px;
            height: 200px;
            margin: 40px;
        }
    } 


}

.wsp{
    position: fixed;
    bottom: 100px;
    right: 50px;

    img{
        height: 50px;
        width: 50px;
    }
}

/*-------------------------CALZADOS------------------------------*/

.TituloProductos {
    h1{
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        padding: 30px;
    }
    div{
        display: flex;
        justify-content:space-around;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: italic;
        font-size: 30px;
        padding: 10px; 
    }
}

.ProductosCalzados{
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border-radius: 8px;

    .item-producto {
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;

        .ZapaUnder{
            width: 250px;
            height: 200px;
            margin-bottom: 5px;
        }
    }
    h2{
        margin-top: 10px;
    }
    p{
        margin-top: 5px;
        color: #999;
    }
}


/*-------------------------EQUIPOS NBA HECHO CON BOOSTRAP------------------------------*/




/*-------------------------Indumentaria------------------------------*/

.ProductosIndumentaria{
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    border-radius: 8px;

    .item-producto {
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;

        img{
            width: 250px;
            height: 250px;
        }
    }
}

.tipo-productos{
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border-radius: 8px;

    .item-producto {
        background-color: #f2f2f2;
        padding: 20px;
        text-align: center;
    }
}


/*-------------------------FOOTER------------------------------*/


footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding: 20px;


    iframe{
        width: 250px;
        height: 250px;
    }

    .container-formulario{
        background-color: rgb(0, 235, 0);
        border-radius: 8px;
        text-align: center;
        align-items:center;
        .formulario{
            h2{
                color: black;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 50px;
            }
            p{
                color: black;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                font-size: 20px;
            }
            form{
                .campo{
                    width: 80%;
                    padding: 8px 3px;
                    font-size: 10px;
                    border: 2px;
                    margin-bottom: 5px;
                    border-radius: 5px;
                    cursor: pointer;
                }
                textarea{
                    max-width: 200px;
                    min-width: 200px;
                    max-height: 80px;
                    min-height: 60px;
                }
            }
        }
    }

    .metodos-pagos{
        h2{
            color: #4CC9F0;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        img{
            margin: 10px;
            width: 60px;
            height: 50px;
        }
    }

    .redes-sociales{
        margin-top: 50px;
        h2{
            color: #4CC9F0;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        a{
            img{
                margin: 10px;
                width: 40px;
                height: 40px;   
            }
        }
    }
}


@import "./partials/queries";