/*variables*/  

@media (max-width: 376px){
    .navegacion-check{
        label{
            display:block;
        }
    }
    .navegacion-nav{
        display: none;
    }
}

@media (max-width: 376px){
    .hero{
        p{
            margin-top: 20%;
        }
    }
}

@media (max-width: 376px){

    .ofertas{
        h2{
            margin-top: 20%;
        }
    }
}
