/*queries*/  

/* --------------------------------Media query header (max 900px)-----------------------------*/

@media only screen and (max-width: 900px){
    #checkbox_menu{
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
}

@media only screen and (max-width: 900px){
    #menu-abrir{
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
}

@media only screen and (max-width: 900px){
    .navegacion{    
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;

        .checkbox--menu:checked + .navegacion{
            transform: translate(0);
    }
    }
}   




/* --------------------------------Media query main (max 900px)-----------------------------*/

@media only screen and (max-width: 900px){
    .marcas-imagenes{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px){
    .ProductosCalzados{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/* -----------------------Media query calzados (max 900px)-----------------------*/


@media only screen and (max-width: 900px){
    .calzados-titulo-marcas{
        p{
            display: none;
        }
    }
}



/* -----------------------Media query footer (max 900px)-----------------------*/

@media only screen and (max-width: 900px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-formulario{
        margin: 30px;
    }
}



/* -----------------------Media query header (max 376px)-----------------------*/


@media (max-width: 376px){
    #menu-abrir{
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
}

/* -----------------------Media query main (max 376px)-----------------------*/


@media (max-width: 376px){
    .navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
    }
}


@media (max-width: 376px){
    .hero{
        p{
            margin-top: 20%;
        }
    }
}


@media (max-width: 376px){

    .card-ofertas{
        margin: 20%;
    }
}



@media (max-width: 376px){
    .marcas-imagenes{
        display: flex;
        flex-direction: column;
    }
}




/* -----------------------Media query de calzados (max 376px)-----------------------*/


@media only screen and (max-width: 376px){
    .ProductosCalzados{
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (max-width: 376px){
    .calzados-titulo-marcas{
        p{
            display: none;
        }
    }
}




/* -----------------------Media query de Indumentaria (max 376px)-----------------------*/

@media (max-width: 376px){
    .ProductosIndumentaria{
        display: flex;
        flex-direction: column;
    }
}




/* -----------------------Media query del footer (max 376px)-----------------------*/


@media (max-width: 376px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container-formulario{
        margin: 30px;
    }
}