/*queries*/  
@media only screen and (max-width: 900px){
    #checkbox_menu{
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
    /*
    #menu-abrir{
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
    */


        .navegacion{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1em;
        }
    .checkbox--menu:checked + .navegacion{
        transform: translate(0);
    }



}






@media (max-width: 376px){
    .navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1em;
    }
    #menu-abrir{
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
    }
}
    



@media (max-width: 376px){
    .hero{
        p{
            margin-top: 20%;
        }
    }
}




@media (max-width: 376px){

    .card-ofertas{
        margin: 20%;
    }
}



@media (max-width: 376px){
    .marcas-imagenes{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 376px){
    footer{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 376px){
    .ProductosIndumentaria{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 376px){
    .ProductosCalzados{
        display: flex;
        flex-direction: column;
    }
}